@component('../views/components/layouts/app', {  })
  <div class="card bg-base-100 shadow">
    <div class="card-body">
    <h1 class="text-2xl font-bold">Dashboard</h1>
    <p>Vista interna del sistema (luego la protegemos con Auth/RBAC).</p>
    </div>
</div>
@end